body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#textBox{
    min-height: 40px;
    min-width: 500px;
    max-width: 800px;
    overflow-wrap: break-word;
    padding: 20px;
    font-size: 25px;
    border: solid;
    border-color: black;
    border-width: 1.5px;
    margin: 20px;
    border-radius: 9px;
}

.row {
    display: flex;
}

.placeholder {
    min-height: 50px;
    min-width: 50px;
}

button {
    justify-content: center;
    align-items: center;
    border: none;
    background-color: rgb(12, 6, 99);
    color: aliceblue;
    min-height: 50px;
    min-width: 50px;
    font-size: 25px;
    outline: 1px;
}

.operator {
    background-color: rgba(186, 171, 58, 0.998);
}

button:hover {
    background-color: aliceblue;
    color: navy;
}

.operator:hover {
    color:rgba(186, 171, 58, 0.998);
    background-color: aliceblue;
}
